mat-card{
    width: 35%;
    position: absolute;
    top: 30%;
    left: 30%;
}
.login-form {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.example-full-width{
width: 100%;
}
